# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Java class file
*.class

# Pakage Files
*.war
*.ear
/target
/.settings
/.classpath
/.project
/.idea

# Maven generated target folders
target
out

# eclipse files
.project
.classpath
.settings
.factorypath
.metadata
.idea
*.iml

# Log files
*.log
